<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Avenir Tech{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.1">
    <link rel="stylesheet" href="{% static 'css/realisation.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>

<body>

    {% include 'profile/partials/_header.html' %}

    <main style="min-height: 80vh;">
        {% block content %}

        <!-- Le menu latéral rétractable -->
        {% include '_sidebar-menu.html' %}

        <!-- Hero section -->
        {% include '_hero-section.html' %}

        <!-- Langage et Téchnologie -->
        {% include '_language-skill.html' %}

        <!-- LA MODALE -->
        {% include '_modal.html' %}

        <!-- Section à propos de moi -->
        {% include '_about-me.html' %}

        <!-- Section Service -->
        {% include '_services-section.html' %}

        <!-- Section Réalisations -->
        {% include '_realisations-section.html' %}

        <!-- <section id="realisation" class="realisations-section">
            <div class="container">
                <h1 class="realisations-main-title">
                    <span class="realisations-main-title-txt-color">Mes</span> Réalisations
                </h1>

                <div class="row realisations-row">

                    <a href="https://avenir-tech.netlify.app/"
                        class="project-card-link">
                        <div class="project-card">
                            <div class="card-image">
                                <img src="{% static 'images/kotikota-desing.png' %}" alt="Projet 5">
                            </div>
                            <div class="card-content">
                                <h3 class="card-subtitle">Ce projet présente une proposition d'interface utilisateur pour Koti Kota.</h3>
                                <div class="card-footer">
                                    <span class="btn-project">Voir le projet <i
                                            class="fas fa-external-link-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                    <a href="https://pharma-techs.netlify.app/"
                        class="project-card-link">
                        <div class="project-card">
                            <div class="card-image">
                                <img src="{% static 'images/pharma-tech.png' %}" alt="Projet 5">
                            </div>
                            <div class="card-content">
                                <h3 class="card-subtitle">Ce projet est réalisé dans le cadre d'un défi de design.</h3>
                                <div class="card-footer">
                                    <span class="btn-project">Voir le projet <i
                                            class="fas fa-external-link-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                    <a href="https://avenir-tech-guide.netlify.app/"
                        class="project-card-link">
                        <div class="project-card">
                            <div class="card-image">
                                <img src="{% static 'images/guide.png' %}" alt="Projet 5">
                            </div>
                            <div class="card-content">
                                <h3 class="card-subtitle">Un site de conseils pour une vie meilleure</h3>
                                <div class="card-footer">
                                    <span class="btn-project">Voir le projet <i
                                            class="fas fa-external-link-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                    <a href="https://avenir-tech-data.onrender.com/" class="project-card-link">
                        <div class="project-card">
                            <div class="card-image">
                                <img src="{% static 'images/extract_data.png' %}" alt="Projet 4">
                            </div>
                            <div class="card-content">
                                <h3 class="card-subtitle">Application d’extraction de fichiers Excel et CSV</h3>
                                <div class="card-footer">
                                    <span class="btn-project">Voir le projet <i class="fas fa-external-link-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                    <a href="https://drive.google.com/file/d/1cFgg3WXKSVUMgdaJFG5i0v-g24y6cZKK/view?usp=drive_link"
                        class="project-card-link">
                        <div class="project-card">
                            <div class="card-image">
                                <img src="{% static 'images/collab-distance.png' %}" alt="Projet 1">
                            </div>
                            <div class="card-content">
                                <h3 class="card-subtitle">Application de collaboration à distance en temps réel</h3>
                                <div class="card-footer">
                                    <span class="btn-project">Voir le projet <i
                                            class="fas fa-external-link-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="https://drive.google.com/file/d/1cRUVbz20nJX-W4IxpnX8Wn_Txz8Vnny3/view?usp=drive_link"
                        class="project-card-link">
                        <div class="project-card">
                            <div class="card-image">
                                <img src="{% static 'images/app-surveillance.png' %}" alt="Projet 2">
                            </div>
                            <div class="card-content">
                                <h3 class="card-subtitle">Outil de monitoring des équipes à distance</h3>
                                <div class="card-footer">
                                    <span class="btn-project">Voir le projet <i
                                            class="fas fa-external-link-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="https://drive.google.com/file/d/1FltaklXiS2KTPLce9wiptm7JiPQlZA_M/view?usp=drive_link"
                        class="project-card-link">
                        <div class="project-card">
                            <div class="card-image">
                                <img src="{% static 'images/location-voiture.png' %}" alt="Projet 3">
                            </div>
                            <div class="card-content">
                                <h3 class="card-subtitle">Solution de réservation de voitures en ligne</h3>
                                <div class="card-footer">
                                    <span class="btn-project">Voir le projet <i
                                            class="fas fa-external-link-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="https://randriavaoselon.github.io/pageConnexion/"
                        class="project-card-link">
                        <div class="project-card">
                            <div class="card-image">
                                <img src="{% static 'images/WIFI-ZONE.png' %}" alt="Projet 3">
                            </div>
                            <div class="card-content">
                                <h3 class="card-subtitle">Conception de la page de connexion MikroTik</h3>
                                <div class="card-footer">
                                    <span class="btn-project">Voir le projet <i
                                            class="fas fa-external-link-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </section> -->

        <!-- ---------Section Presentation------ -->
        {% include '_presentation-section.html' %}

        <!-- -------Section Contact---- -->
        {% include '_contact-section.html' %}


        <!-- Bouton Scroll Top -->
        <button id="scrollTopBtn" class="scroll-top-btn">
            <i class="fas fa-chevron-up"></i>
        </button>

        {% endblock %}
    </main>

    {% include 'profile/partials/_footer.html' %}

    {% load static %}

    <script src="{% static 'js/realisation.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/videos.js' %}"></script>
    <script src="{% static 'js/scrollTop.js' %}"></script>
    <script src="{% static 'js/textTypingEffet.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
    
</body>

</html>