{% load static %}
<header class="main-header">
    <div class="header-container">
        
        <!-- Partie Gauche : Logo -->
        <div class="logo">
            <a href="/">
                {# Assurez-vous d'avoir un logo dans static/images/logo.png #}
                <img src="{% static 'images/logo-rb.png' %}" alt="Logo Projet">
            </a>
        </div>

        <!-- Partie Droite : Titre et Sous-titre -->
        <div class="header-text-block">
            <h2 class="header-title">Demain sera ce que nous en ferons</h2>
            <p class="header-subtitle">La meilleure façon de prédire l'avenir, c'est de le créer</p>
        </div>

    </div>
</header>