{% load static %}
<section id="accueil" class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-image">
                <img src="{% static 'images/profileHomme-rb2.png' %}" alt="Description de l'image"
                    class="responsive-image">
            </div>

            <div class="col-text">
                <span class="sup-title">Bonjour, je m'appelle</span>
                <h1 class="main-title" id="typing-text">
                    <span class="highlight-letter">R</span>ANDRIAVAO
                    <span class="highlight-letter">S</span>elon
                </h1>
            </div>
        </div>
    </div>
</section>