{% load static %}
<section id="competences" class="language-skill">
    <div class="container">
        <h2 class="skill-title">
            Mes <span class="white-text">Compétences</span>
            <div class="skill-item btn-more btn-hiden-desktop btn-trigger-modal"><span>+ Voir Tout</span></div>
        </h2>

        <div class="skills-wrapper">
            <div class="skill-item">
                <img src="{% static 'images/python-rb.png' %}" alt="Python">
            </div>
            <div class="skill-item">
                <img src="{% static 'images/Django-rb.png' %}" alt="Django">
            </div>
            <div class="skill-item">
                <img src="{% static 'images/HTML5-rb.png' %}" alt="HTML5">
            </div>
            <div class="skill-item">
                <img src="{% static 'images/CSS3-rb.png' %}" alt="CSS3">
            </div>
            <div class="skill-item">
                <img src="{% static 'images/javascript-rb.png' %}" alt="Javascript">
            </div>


            <div class="skill-item btn-more btn-trigger-modal">
                <span>+ Voir Tout</span>
            </div>
        </div>
    </div>
</section>