{% load static %}
<aside class="sidebar-menu" id="sidebar">
    <div class="sidebar-content">
        <ul class="sidebar-links">
            <li>
                <a href="#competences">
                    <i class="fas fa-code"></i>
                    <span class="link-text">Mes Compétences</span>
                </a>
            </li>
            <li>
                <a href="#apropos">
                    <i class="fas fa-user"></i>
                    <span class="link-text">À propos de moi</span>
                </a>
            </li>
            <li>
                <a href="#services">
                    <i class="fas fa-laptop-code"></i>
                    <span class="link-text">Mes Services</span>
                </a>
            </li>
            <li>
                <a href="#realisation">
                    <i class="fas fa-project-diagram"></i>
                    <span class="link-text">Mes Réalisations</span>
                </a>
            </li>
            <li>
                <a href="#presentation">
                    <i class="fas fa-user-tie"></i>
                    <span class="link-text">Ma Présentation</span>
                </a>
            </li>
            <li>
                <a href="#contact">
                    <i class="fas fa-envelope"></i>
                    <span class="link-text">Contact Rapide</span>
                </a>
            </li>
        </ul>

        <div class="sidebar-footer">
            <a href="{% static 'pdf/Selon_CV.pdf' %}" class="cv-download-btn" download>
                <i class="fas fa-file-download"></i>
                <span class="link-text">Télécharger CV</span>
            </a>
        </div>
    </div>
</aside>